<h1>WareHouse App</h1>

<h3>Boas vindas ao sistema de gestão de estoques</h3>

<% if user_signed_in? %>
  <%= link_to 'Cadastrar novo galpão', new_warehouse_path  %>
<% end %>

<h3>Galpões cadastrados:</h3>
<% @warehouses.each do |w| %>
  <%= link_to w.name, warehouse_path(w.id) %>
  <%= w.code %>
<% end %>

<p><%= link_to 'Cadastrar modelo de produto', new_product_type_path %></p>